@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: #e7e7ee;
}


.hoz-login-screen {
  background-color: #efeff9;
  opacity: 1;
  background-image:  radial-gradient(#c9c9f9 2px, transparent 2px), radial-gradient(#c9c9f9 2px, #efeff9 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

.hoz-login-form {
  max-height: 350px;
  max-width: 400px;
  box-shadow: 5px 5px 5px rgb(64 64 155);
}

.hoz-button-primary {
  background: rgb(64 64 155);
}

.hoz-button-primary:hover {
  background: rgb(78, 78, 207);
}
